<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Facture n° 2021-003</title>
</head>
<body>
<div class="container">
    <header>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
                <img src="{{ asset('build/images/logo-art-emoi.png') }}" alt="">
            </div>
        </div>
    </header>
</div>
</body>
</html>
