{% extends 'base.html.twig' %}

{% block title %}Le festival de la créativité
{% endblock %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('build/watercolor_01.png') }}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-3 bread">Évènements</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 ftco-animate">
				<div class="row">
					<div class="col-md-12 d-flex ftco-animate">
						<div class="blog-entry blog-entry-2 justify-content-start d-md-flex w-100">
							<div class="block-event" style="background-image: url('{{ asset('build/festival-creativite.png') }}');"></div>
							<div class="text pl-md-4 ml-md-2 pt-4">
								<div class="meta">
									<div>
										<a href="#">Du 15 au 23 Octobre 2022</a>
									</div>
								</div>
								<h3 class="heading mt-2">Le festival de la créativité</h3>
								<p>Vous aimeriez découvrir vos talents
									<strong>sans vous sentir bloqué par la technique ?</strong><br>
									Vous avez parfois besoin d'un coup de pouce pour
									<strong>trouver l'inspiration</strong>
									et vous lancer en confiance ?<br>
									Vous aimeriez créer du lien par des moments de
									<strong>plaisir créatif partagé ?</strong><br>
									Ou bien, vous êtes déjà un créatif actif, mais souhaitez élargir les horizons de votre pratique ?<br>
								</p>
								<p>
									Alors, j'ai le plaisir de vous convier à un superbe événement auquel je participe :<br>
									<strong>le Festival de la créativité pour tous !</strong><br>
									Il aura lieu du 15 au 23 octobre 2022. L'inscription est entièrement gratuite.
								</p>
								<p>
									<a href="https://www.sommeteducation.fr/inscription-festival/?aff=7nfge2&cpg=fd7a243j" target="_blank" class="btn btn-outline-primary">S'inscrire en ligne</a>
								</p>

							</div>
						</div>
					</div>
				</div>
                <div class="row">
			        <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 d-flex">
                                
                                    <div class="text pt-4">
                                        <p>
                                            <strong>L’un des volets importants de ce Festival est d'aborder la créativité artistique sous l’angle de l’aventure intérieure, dans toute sa richesse, parfois intime et très personnelle, mais aussi collaborative et créatrice de liens au sens large.</strong>
                                        </p>
                                        <p>
                                            Ce n'est pas un événement en ligne comme les autres !
                                                                                    Dans cet événement participatif, vous serez invités à venir expérimenter et explorer l'immense terrain de jeu de la créativité artistique, lors de nombreux ateliers en lives, et de conférences inspirantes. 35 intervenants passionnants te proposent te permettront de te ressourcer, d'explorer tes talents, de te connecter à ton intuition et comprendre ton propre processus créatif. C'est une rare opportunité de rencontrer en direct des créatifs passionnés d'horizons aussi divers.
                                        </p>
                                        <p>
                                            La créativité est comme une baguette magique qui peut transformer ta vie et ... transformer le monde !
                                                                                    C'est une aventure intérieure, intime, et aussi collective et créatrice de liens dans tous les sens du terme.
                                        </p>
                                        <p>
                                            Rejoins une communauté de créatifs enthousiastes ! C'est gratuit et c'est chez toi !
                                        </p>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
			</div>

		</div>
		<!-- .col-md-8 -->

	</div>
</section><!-- .section -->



{% endblock %}
