{% extends 'admin/admin_base.html.twig' %}

{% block title %}Ajout d'un article à "{{ workshop.title }}"{% endblock %}

{% block pageTitle %}Ajout d'un article à "{{ workshop.title }}"{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        {{ include('admin/workshop/article/_form.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

