{% extends 'admin/admin_base.html.twig' %}

{% block title %}Ajout d'une News{% endblock %}

{% block pageTitle %}Créer une nouvelle News{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    {{ include('admin/news/_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
