body {
    font-family: "Arial Black", serif;
}

.address-header {
    font-weight: bolder;
    font-size: 1.25rem;
}

.heading {
    margin-bottom: 2rem;
}

.invoice-number {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 1.75rem;
}

.invoice-number .num {
    color: #999999;
}

.infos-dates {
    width: 300px;
}

.table-content {
    margin-top: 3rem;
}

.total-amount {
    font-size: 1.75rem;
    font-weight: bolder;
}

.merci {
    font-size: 1.25rem;
}
