{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier une notification{% endblock %}

{% block pageTitle %}Modifier une notification{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        {{ include('admin/email_notification/_form.html.twig', {'button_label': 'Modifier'}) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
