{% extends 'admin/admin_base.html.twig' %}

{% block title %}Ajout d'une notification{% endblock %}

{% block pageTitle %}Créer une nouvelle notification{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        {{ include('admin/email_notification/_form.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
