{% extends 'base.html.twig' %}

{% block title %}Edit EventRegistration{% endblock %}

{% block body %}
    <h1>Edit EventRegistration</h1>

    {{ include('event_registration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_registration_index') }}">back to list</a>

    {{ include('event_registration/_delete_form.html.twig') }}
{% endblock %}
