{% extends 'base.html.twig' %}

{% block title %}New EventRegistration{% endblock %}

{% block body %}
    <h1>Create new EventRegistration</h1>

    {{ include('event_registration/_form.html.twig') }}

    <a href="{{ path('event_registration_index') }}">back to list</a>
{% endblock %}
