{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier "{{ workshop.title }}"{% endblock %}

{% block pageTitle %}Modifier "{{ workshop.title }}"{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        {{ include('admin/workshop/video/_form.html.twig', {'button_label': 'Modifier'}) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
