{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouveau Produit/Service{% endblock %}

{% block pageTitle %}Nouveau Produit/Service{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        {{ include('admin/product/_form.html.twig') }}  
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    document.getElementById('product_online').onchange = function() {
        document.getElementById('product_online_price').disabled = !this.checked;
    };
    document.getElementById('product_visio').onchange = function() {
        document.getElementById('product_visio_price').disabled = !this.checked;
    };
    document.getElementById('product_present').onchange = function() {
        document.getElementById('product_present_price').disabled = !this.checked;
        document.getElementById('product_present_location').disabled = !this.checked;
    };
</script>
{% endblock %}

