{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouvelle Actualité
{% endblock %}

{% block pageTitle %}Nouvelle Actualité
{% endblock %}

{% block content %}
	<div class="content">
		<div class="container-fluid">
			{{ include('admin/actu/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
