{% extends 'base.html.twig' %}

{% block title %}Commande réussie{% endblock %}

{% block content %}
<section class="payment-success">
    <div class="content">
        <div class="container">
            <div class="row m-auto">
                <div class="col-12 w-100">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Merci pour votre achat!</h4>
                        </div>
                        <div class="card-content p-5">

                          Un email de confirmation va vous être envoyé avec les détails et votre facture.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

